<html>
<head>
    <title>Твиты</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="resources/css/ext-all.css">
    <script type="text/javascript" src="ext-all-dev.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body></body>
</html>